.home-container {
  display: flex;
  flex-direction: column;
  gap: 16px; 
  padding: 16px;
}


.header {
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.search-and-products {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.search-bar {
  display: flex;
  justify-content: flex-end; 
  margin-bottom: 16px;
}


.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px;
}

/* Cambios especificos para funcionamiento en moviles*/
@media (max-width: 1200px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
